<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <Filters>
                <LevelRangeFilter minLevel="TRACE" maxLevel="DEBUG" onMatch="DENY" onMismatch="NEUTRAL"/>
            </Filters>
            <PatternLayout pattern="%d{HH:mm:ss.SSS} %-5level [%t] %logger{36} - %msg%n"/>
        </Console>
        <File name="File" fileName="logs/seat-exam.log" append="false">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level [%t] %logger{50} - %msg%n"/>
        </File>
    </Appenders>
    <Loggers>
        <!-- OptaPlanner 求解过程输出到 debug 日志 -->
        <Logger name="org.optaplanner" level="debug"/>
        <Root level="info">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="File"/>
        </Root>
    </Loggers>
</Configuration>
